*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif;
	background-color: #1a344d;
	background: url(../assets/background.png);
}

.player{
	margin: 30px auto 0 auto;
	min-width: 600px;
	max-width: 600px;
	min-height: 290px;
	border: 1px solid gray;
	padding: 30px 35px;
	background-color: #4d5055;
	border: 3px solid rgba(0,0,0,0.4);
	border-top: 3px solid rgba(255,255,255,0.4);
	border-radius: 10px; 
	color: white;
	box-shadow: 0px 0px 200px rgba(255,255,255,0.4);
	background: url(../assets/playerBg.jpg);
	opacity: 0.7;
}


.player .information{
	float: left;
}

.player .information .cover,
.player .information .data{
	float: left;
}

.player .information .cover{
	width: 25%;
}
.player .information .cover img{
	width: 100%;
	float: left;
}

.player .information .data{
	width: 75%;
}

.player .information .data{
	width: 75%;
}

.player .information .data .controls, 
.player .information .data .dataSong{
	float: left;
	width: 100%;
}

.player .information .data .timer,
.player .information .data .stars{
	float: left;
	margin: 5px 2.5%;
	background-color: #333438;
	border-radius: 25px;
	padding: 8px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.player .information .data .timer{
	width: 60%;
}

.player .information .data .stars{
	width: 30%;
}

.player .information .data .stars div{
	cursor: pointer;
}

.player .information .data .stars div.on{
	display: inline-block;
	background: url(../assets/playerB.png) -245px 0;
	width: 12px;
	height: 12px;
}

.player .information .data .stars div.off{
	display: inline-block;
	background: url(../assets/playerB.png) -257px 0;
	width: 12px;
	height: 12px;
}

.player .information .data .dataSong{
	padding: 5% 10%;
	vertical-align: middle;
	font-size: 115%;
}

.player .information .data .dataSong .artist{
	color: #fb9f00;
	font-weight: bold;
}

.player .controls{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.player .controls .time,
.player .controls .volume .volSlider{
	width: 100%;
	border: 4px solid rgba(255,255,255,0.3);
	min-height: 18px;
	background-color: #151618;
	border-radius: 15px;
	cursor: pointer;
}

.player .controls .time .elapsed,
.player .controls .volume .ammount{
	/*width: 50%;*/
	float: left;
	width: 0%;
	background-color: #8b8b95;
	min-height: 5px;
	border-radius: 15px;
	background: url(../assets/p_bar.png);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	margin: 2.5px 0px 2.5px 2px;
	cursor: pointer;
}

.player .controls .time .sliderBtn,
.player .controls .volume .sliderBtn{
	float: left;
	background: url(../assets/sliderBtn.png);
	background-size: 100% 100%;
	width: 16px;
	height: 16px;
	margin: -3px -5px 0 0;
}

.player .controls .buttons{
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

.player .controls .buttons .botones{
	width: 65%;
	margin-right: 5%;
	vertical-align: top;
	float: left;
	border-radius: 5px;
}

.player .controls .buttons .botones .button{
	width: 35px; height: 35px;
	float: left;
	padding: 0;
	border-top: 2px solid rgba(255,255,255,0.4);
	border-bottom: 2px solid rgba(0,0,0,0.6);
	border-left: 1px solid rgba(255,255,255,0.1);
}

.player .controls .buttons .botones .button:first-child{
	border-radius: 5px 0 0 5px;
	border-left: 2px solid rgba(0,0,0,0.6);
}
.player .controls .buttons .botones .button:last-child{
	border-radius: 0 5px 5px 0;
	border-right: 2px solid rgba(0,0,0,0.6);
}

.player .controls .buttons .volume{
	width: 25%;
	float: inherit;
	margin-top: 10px;
	margin-left: 5%;
}
.volSlider{
	width: 90% !important;
}
.icon{
	width: 10%;
}
.icon, .volSlider{
	float: left;
}

.icon, .button{
	cursor: pointer;
}

.button.back{
	/*background: url(../assets/playerB.png) 0 0;*/
	background: url(../assets/playerB.png) 0 0;
}

.button.play{
	/*background: url(../assets/playerB.png) -26px 0;*/
	background: url(../assets/playerB.png) -35px 0;
}

.button.pause{
	background: url(../assets/playerB.png) -70px 0;
}

.button.stop{
	/*background: url(../assets/playerB.png) -78px 0;*/
	background: url(../assets/playerB.png) -105px 0;
}

.button.next{
	/*background: url(../assets/playerB.png) -104px 0;*/
	background: url(../assets/playerB.png) -140px 0;
}

.button.b1{
	/*background: url(../assets/playerB.png) -130px 0;*/
	background: url(../assets/playerB.png) -175px 0;
}
.button.b2{
	/*background: url(../assets/playerB.png) -156px 0;*/
	background: url(../assets/playerB.png) -210px 0;
}

.button.fback{
	/*background: url(../assets/playerB.png) -156px 0;*/
	background: url(../assets/playerB.png) -280px 0;
}

.button.fnext{
	/*background: url(../assets/playerB.png) -156px 0;*/
	background: url(../assets/playerB.png) -317px 0;
}
/*
.button:hover{
   box-shadow: inset 0 0 10px rgba(255,255,255,0.4);

}*/
#dropArea {
	background-color: rgba(0,0,0,0.2);
	max-height: 400px;
	max-width: 600px;
	border: 1px dashed rgba(255,255,255,0.2);
}
#dropArea canvas{
	width: 100%;
	height: 100%;
}


